Try adding some entries to the list then deleting them.
<ul>
  {{#each model.people as |person|}}
    <li>{{person.name}}</li>
  {{/each}}
</ul>

Name: {{input value=name}} <button onclick={{action "addPerson" name}}>Create</button>
<br>
<button onclick={{action "deleteAllPeople"}}>Delete all</button> (doesn't work)
<br>
<button onclick={{action "saveAllPeople"}}>Save all</button> (causes error if one or more records marked for deletion)
<br>
<button onclick={{action "destroyAllPeople"}}>Destroy all</button> (causes error)
